.product-page {
  font-family: Arial, sans-serif;
}

.product-gallery {
  text-align: center;
}

.product-gallery .main-image img {
  width: 100%;
  height: 800px !important;
  object-fit: contain;
  border: 1px solid #eee;
  border-radius: 8px;
}

.product-gallery .thumbs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.text-success {
    --bs-text-opacity: 1;
    color: rgb(170, 14, 14) !important;
}

.product-gallery .thumbs img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.2s;
}

.product-gallery .thumbs img.active,
.product-gallery .thumbs img:hover {
  border-color: #d7e608;
}

.product-info {
  padding: 20px;
}

.price-section {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin: 15px 0;
}

.old-price {
  text-decoration: line-through;
  color: #777;
}

.new-price {
  font-size: 1.5rem;
  color: #28a745;
}

.discount {
  color: #d9534f;
  font-weight: bold;
}

.btn-cart {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 12px;
}

.btn-cart:hover {
  background-color: #333;
}

.shipping {
  margin-top: 15px;
}

.mx-auto.col-md-10 {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
}

p.quantity {
    text-align-last: left;
    font-size: 20px;
}

p.stock {
    justify-self: left;
}